<!DOCTYPE html>


<head>
	<title> 
		Movie Party
	</title>
</head>

<body>
	<h1> Movie Search </h1> 

	<div class="search">
		<form class="input" action="/movies" method="get" />
		<input type="text" name="title" placeholder="e.g. Batman" /><br><br>
		<button> Submit </button>
	</div>

<footer>
</footer>

</body>
